@import "../../styles/resolution.scss"; 
@import "../../styles/colors.scss";

.categories {
  position: relative;
  padding: 30px;
  background-color: white;

  @include phone {
    color: black;
    padding: 30px 0 50px 0;
  }
}

.categories--non-mobile {
  @include phone {
    display: none;
  }
}

.categories::after {
  @include tablet {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #e4e4e4;
    z-index: -2;
    transform: rotate(-2deg);
    transition: transform 0.3s ease-in-out;
  }
}

.categories:hover::after {
  transform: rotate(2deg);
}

.categories__list {
  @include tablet {
    display: flex;
  }
}

.categories__list-item {
  @include tablet {
    flex: 1;
  }
}

.categories__list-item:hover svg{
  fill: $main-color;
}

.categories__list-item:hover .categories__name{
  color: $main-color;
}

.categories__list-item--active .categories__name::after{
  transform-origin: left;
  transform: scaleX(1);
}

.categories__list-item--active .categories__name {
  color: $main-color;
}

.categories__list-item--active svg{
  fill: $main-color;
}


.categories__button {
  display: block;
  width: 100%;
  background: transparent;

  @include phone {
    display: flex;
    align-items: center;
  }
}

.categories__name {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  font-size: 20px;
  border-bottom: 2px solid #d7d7d7;
  transition: color 0.3s ease-in-out;

  @include phone {
    min-width: 130px;
    padding-bottom: 10px;
    margin-left: auto;
  }

  @include phone-lg-only {
    min-width: 195px;
    font-size: 27px;
  }

  @include desktop {
    font-size: 20px;
  }
}

.categories__name::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 2px;
  background-color: $main-color;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.categories__image {
  display: block;
  padding-top: 20px;
  text-align: center;

  @include phone {
    margin-left: 30px;
    margin-right: auto;
  }

  svg {
    width:55px;
    height:55px;
    transition: fill 0.3s ease-in-out;
  }
}
